<a href="https://colab.research.google.com/github/AmitK0105/AmitK0105/blob/main/Digital_Alchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Python Assignment
import pandas as pd
import numpy as np

data=[
    {'transaction_id': 1, 'account_id': 'A123', 'merchant': 'Store A', 'category': 'Grocery', 'spend_amount': 50.00},
    {'transaction_id': 2, 'account_id': 'B456', 'merchant': 'Store B', 'category': 'Electronics', 'spend_amount': 250.00},
    {'transaction_id': 3, 'account_id': 'A123', 'merchant': 'Store C', 'category': 'Clothing', 'spend_amount': 80.00},
    {'transaction_id': 4, 'account_id': 'C789', 'merchant': 'Store A', 'category': 'Grocery', 'spend_amount': 30.00},
    {'transaction_id': 5, 'account_id': 'B456', 'merchant': 'Store D', 'category': 'Insurance', 'spend_amount': 200.00},
    {'transaction_id': 6, 'account_id': 'C789', 'merchant': 'Store C', 'category': 'Clothing', 'spend_amount': 40.00},
    {'transaction_id': 7, 'account_id': 'A123', 'merchant': 'Store B', 'category': 'Electronics', 'spend_amount': 150.00},
    {'transaction_id': 8, 'account_id': 'B456', 'merchant': 'Store A', 'category': 'Grocery', 'spend_amount': 70.00},
    {'transaction_id': 9, 'account_id': 'C789', 'merchant': 'Store D', 'category': 'Insurance', 'spend_amount': 180.00},
    {'transaction_id': 10, 'account_id': 'A123', 'merchant': 'Store B', 'category': 'Electronics', 'spend_amount': 120.00}]

df_data= pd.DataFrame(data)
print(df_data)
print(df_data.shape)

   transaction_id account_id merchant     category  spend_amount
0               1       A123  Store A      Grocery          50.0
1               2       B456  Store B  Electronics         250.0
2               3       A123  Store C     Clothing          80.0
3               4       C789  Store A      Grocery          30.0
4               5       B456  Store D    Insurance         200.0
5               6       C789  Store C     Clothing          40.0
6               7       A123  Store B  Electronics         150.0
7               8       B456  Store A      Grocery          70.0
8               9       C789  Store D    Insurance         180.0
9              10       A123  Store B  Electronics         120.0
(10, 5)

In [ ]:
# Questions:-

#1.Calculate the average spending per customer for this business.
#2.Calculate the average spend_amount for each category and identify the category with the highest average spend_amount.
#3.Determine the merchants that have at least 2 transactions with spend_amount greater than 100. Provide the list of such merchants.
#4.Create a summary report showing the total spend_amount for each account across all merchants. Sort the accounts based on their total spend_amount in descending order.
#5.Create report to show customer tier with the value 'Low','Medium','High' based on their total spend_amount by these criteria 1-300,301-500,501+.

#Spare Assignment
#6.Identify and categorize the top-spending accounts for each merchant. Provide the account_id and the corresponding total spend_amount for each merchant.

In [10]:
# Question 1
df_data.groupby(['account_id'])['spend_amount'].mean()

account_id
A123    100.000000
B456    173.333333
C789     83.333333
Name: spend_amount, dtype: float64

In [76]:
# Question 2
def category_avg(col):
 avg_cat= df_data.groupby([col])['spend_amount'].mean()
 avg_cat_highest= pd.DataFrame(avg_cat.sort_values(ascending=False))
 cat_highest= avg_cat_highest.iloc[0:1]
 #row_max= avg_cat_highest.loc[cat_highest]
 print(avg_cat)
 #print(avg_cat_highest)
 print(cat_highest)
category_avg('category')
#category_avg('merchant')

category
Clothing        60.000000
Electronics    173.333333
Grocery         50.000000
Insurance      190.000000
Name: spend_amount, dtype: float64
           spend_amount
category
Insurance         190.0

In [109]:
#Question 3
def merchant_con(col):
  merchant_df= df_data.groupby([col])['spend_amount'].agg(['count', 'sum'])
  merchant_df1= merchant_df.loc[(merchant_df['sum']>=100) & (merchant_df['count']>=2)]
  #print(merchant_df)
  print(merchant_df1)


merchant_con('merchant')

          count    sum
merchant
Store A       3  150.0
Store B       3  520.0
Store C       2  120.0
Store D       2  380.0

In [16]:
#Question 4

def account_lev(col1,col2):
  account_df= df_data.groupby([col1,col2])['spend_amount'].sum()
  sorted_account= pd.DataFrame(account_df.sort_values(ascending=False))
  print(account_df)
  print(sorted_account)
  sorted_df1 = account_df.iloc[0:3]
  print(sorted_df1)

account_lev('account_id', 'merchant')

account_id  merchant
A123        Store A      50.0
            Store B     270.0
            Store C      80.0
B456        Store A      70.0
            Store B     250.0
            Store D     200.0
C789        Store A      30.0
            Store C      40.0
            Store D     180.0
Name: spend_amount, dtype: float64
                     spend_amount
account_id merchant
A123       Store B          270.0
B456       Store B          250.0
           Store D          200.0
C789       Store D          180.0
A123       Store C           80.0
B456       Store A           70.0
A123       Store A           50.0
C789       Store C           40.0
           Store A           30.0
account_id  merchant
A123        Store A      50.0
            Store B     270.0
            Store C      80.0
Name: spend_amount, dtype: float64

In [14]:
# Question 5
Lebel_df= df_data.groupby(['account_id'])['spend_amount'].sum()
Lebel_df1=pd.DataFrame(Lebel_df)
def condition(x):
   if x <=300:
    return "low"
   elif x>300 and x<=500:
    return "medium"
   else:
    return "high"
Lebel_df1['Spending_cat']= Lebel_df1['spend_amount'].apply(condition)

print(Lebel_df1)

            spend_amount Spending_cat
account_id
A123               400.0       medium
B456               520.0         high
C789               250.0          low

In [ ]:
#  Question 6